=begin
#ManagementResourceApi

#This describes the API clients use for accessing features. This reflects the API from 1.5.7 onwards.

The version of the OpenAPI document: 1.1.11

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.6.0

=end

require 'cgi'

module FeaturehubAdminSdk
  class ApplicationServiceApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a new application
    # @param id [String] The id of the portfolio to find
    # @param application [Application] 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :include_environments Include the environments in the result
    # @option opts [Boolean] :include_features Include the features in the result
    # @return [Application]
    def create_application(id, application, opts = {})
      data, _status_code, _headers = create_application_with_http_info(id, application, opts)
      data
    end

    # Create a new application
    # @param id [String] The id of the portfolio to find
    # @param application [Application] 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :include_environments Include the environments in the result
    # @option opts [Boolean] :include_features Include the features in the result
    # @return [Array<(Application, Integer, Hash)>] Application data, response status code and response headers
    def create_application_with_http_info(id, application, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ApplicationServiceApi.create_application ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ApplicationServiceApi.create_application"
      end
      # verify the required parameter 'application' is set
      if @api_client.config.client_side_validation && application.nil?
        fail ArgumentError, "Missing the required parameter 'application' when calling ApplicationServiceApi.create_application"
      end
      # resource path
      local_var_path = '/mr-api/portfolio/{id}/application'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'includeEnvironments'] = opts[:'include_environments'] if !opts[:'include_environments'].nil?
      query_params[:'includeFeatures'] = opts[:'include_features'] if !opts[:'include_features'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(application)

      # return_type
      return_type = opts[:debug_return_type] || 'Application'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ApplicationServiceApi.create_application",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ApplicationServiceApi#create_application\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete an application
    # @param app_id [String] The id of the application to find
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :include_environments Include the environments in the result
    # @return [Boolean]
    def delete_application(app_id, opts = {})
      data, _status_code, _headers = delete_application_with_http_info(app_id, opts)
      data
    end

    # Delete an application
    # @param app_id [String] The id of the application to find
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :include_environments Include the environments in the result
    # @return [Array<(Boolean, Integer, Hash)>] Boolean data, response status code and response headers
    def delete_application_with_http_info(app_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ApplicationServiceApi.delete_application ...'
      end
      # verify the required parameter 'app_id' is set
      if @api_client.config.client_side_validation && app_id.nil?
        fail ArgumentError, "Missing the required parameter 'app_id' when calling ApplicationServiceApi.delete_application"
      end
      # resource path
      local_var_path = '/mr-api/application/{appId}'.sub('{' + 'appId' + '}', CGI.escape(app_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'includeEnvironments'] = opts[:'include_environments'] if !opts[:'include_environments'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Boolean'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ApplicationServiceApi.delete_application",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ApplicationServiceApi#delete_application\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets a list of applications.
    # @param id [String] The id of the portfolio to find
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :include_environments Include the environments in the result
    # @option opts [Boolean] :include_features Include the features in the result
    # @option opts [SortOrder] :order how to order the results
    # @option opts [String] :filter What to filter the results by
    # @return [Array<Application>]
    def find_applications(id, opts = {})
      data, _status_code, _headers = find_applications_with_http_info(id, opts)
      data
    end

    # Gets a list of applications.
    # @param id [String] The id of the portfolio to find
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :include_environments Include the environments in the result
    # @option opts [Boolean] :include_features Include the features in the result
    # @option opts [SortOrder] :order how to order the results
    # @option opts [String] :filter What to filter the results by
    # @return [Array<(Array<Application>, Integer, Hash)>] Array<Application> data, response status code and response headers
    def find_applications_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ApplicationServiceApi.find_applications ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ApplicationServiceApi.find_applications"
      end
      # resource path
      local_var_path = '/mr-api/portfolio/{id}/application'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'includeEnvironments'] = opts[:'include_environments'] if !opts[:'include_environments'].nil?
      query_params[:'includeFeatures'] = opts[:'include_features'] if !opts[:'include_features'].nil?
      query_params[:'order'] = opts[:'order'] if !opts[:'order'].nil?
      query_params[:'filter'] = opts[:'filter'] if !opts[:'filter'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<Application>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ApplicationServiceApi.find_applications",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ApplicationServiceApi#find_applications\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get application
    # @param app_id [String] The id of the application to find
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :include_environments Include the environments in the result
    # @return [Application]
    def get_application(app_id, opts = {})
      data, _status_code, _headers = get_application_with_http_info(app_id, opts)
      data
    end

    # Get application
    # @param app_id [String] The id of the application to find
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :include_environments Include the environments in the result
    # @return [Array<(Application, Integer, Hash)>] Application data, response status code and response headers
    def get_application_with_http_info(app_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ApplicationServiceApi.get_application ...'
      end
      # verify the required parameter 'app_id' is set
      if @api_client.config.client_side_validation && app_id.nil?
        fail ArgumentError, "Missing the required parameter 'app_id' when calling ApplicationServiceApi.get_application"
      end
      # resource path
      local_var_path = '/mr-api/application/{appId}'.sub('{' + 'appId' + '}', CGI.escape(app_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'includeEnvironments'] = opts[:'include_environments'] if !opts[:'include_environments'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Application'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ApplicationServiceApi.get_application",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ApplicationServiceApi#get_application\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Geta summary of the application status
    # @param app_id [String] The id of the application to find
    # @param [Hash] opts the optional parameters
    # @return [ApplicationSummary]
    def summary_application(app_id, opts = {})
      data, _status_code, _headers = summary_application_with_http_info(app_id, opts)
      data
    end

    # Geta summary of the application status
    # @param app_id [String] The id of the application to find
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApplicationSummary, Integer, Hash)>] ApplicationSummary data, response status code and response headers
    def summary_application_with_http_info(app_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ApplicationServiceApi.summary_application ...'
      end
      # verify the required parameter 'app_id' is set
      if @api_client.config.client_side_validation && app_id.nil?
        fail ArgumentError, "Missing the required parameter 'app_id' when calling ApplicationServiceApi.summary_application"
      end
      # resource path
      local_var_path = '/mr-api/application/{appId}/summary'.sub('{' + 'appId' + '}', CGI.escape(app_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ApplicationSummary'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ApplicationServiceApi.summary_application",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ApplicationServiceApi#summary_application\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an application
    # @param app_id [String] The id of the application to find
    # @param application [Application] 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :include_environments Include the environments in the result
    # @return [Application]
    def update_application(app_id, application, opts = {})
      data, _status_code, _headers = update_application_with_http_info(app_id, application, opts)
      data
    end

    # Update an application
    # @param app_id [String] The id of the application to find
    # @param application [Application] 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :include_environments Include the environments in the result
    # @return [Array<(Application, Integer, Hash)>] Application data, response status code and response headers
    def update_application_with_http_info(app_id, application, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ApplicationServiceApi.update_application ...'
      end
      # verify the required parameter 'app_id' is set
      if @api_client.config.client_side_validation && app_id.nil?
        fail ArgumentError, "Missing the required parameter 'app_id' when calling ApplicationServiceApi.update_application"
      end
      # verify the required parameter 'application' is set
      if @api_client.config.client_side_validation && application.nil?
        fail ArgumentError, "Missing the required parameter 'application' when calling ApplicationServiceApi.update_application"
      end
      # resource path
      local_var_path = '/mr-api/application/{appId}'.sub('{' + 'appId' + '}', CGI.escape(app_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'includeEnvironments'] = opts[:'include_environments'] if !opts[:'include_environments'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(application)

      # return_type
      return_type = opts[:debug_return_type] || 'Application'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ApplicationServiceApi.update_application",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ApplicationServiceApi#update_application\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
