=begin
#ManagementResourceApi

#This describes the API clients use for accessing features. This reflects the API from 1.5.7 onwards.

The version of the OpenAPI document: 1.1.11

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.6.0

=end

require 'cgi'

module FeaturehubAdminSdk
  class SetupServiceApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Ping Feature Hub
    # @param [Hash] opts the optional parameters
    # @return [SetupResponse]
    def is_installed(opts = {})
      data, _status_code, _headers = is_installed_with_http_info(opts)
      data
    end

    # Ping Feature Hub
    # @param [Hash] opts the optional parameters
    # @return [Array<(SetupResponse, Integer, Hash)>] SetupResponse data, response status code and response headers
    def is_installed_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SetupServiceApi.is_installed ...'
      end
      # resource path
      local_var_path = '/mr-api/initialize'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SetupResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SetupServiceApi.is_installed",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SetupServiceApi#is_installed\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Setup site admin
    # @param setup_site_admin [SetupSiteAdmin] setupSiteAdmin
    # @param [Hash] opts the optional parameters
    # @return [TokenizedPerson]
    def setup_site_admin(setup_site_admin, opts = {})
      data, _status_code, _headers = setup_site_admin_with_http_info(setup_site_admin, opts)
      data
    end

    # Setup site admin
    # @param setup_site_admin [SetupSiteAdmin] setupSiteAdmin
    # @param [Hash] opts the optional parameters
    # @return [Array<(TokenizedPerson, Integer, Hash)>] TokenizedPerson data, response status code and response headers
    def setup_site_admin_with_http_info(setup_site_admin, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SetupServiceApi.setup_site_admin ...'
      end
      # verify the required parameter 'setup_site_admin' is set
      if @api_client.config.client_side_validation && setup_site_admin.nil?
        fail ArgumentError, "Missing the required parameter 'setup_site_admin' when calling SetupServiceApi.setup_site_admin"
      end
      # resource path
      local_var_path = '/mr-api/initialize'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(setup_site_admin)

      # return_type
      return_type = opts[:debug_return_type] || 'TokenizedPerson'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SetupServiceApi.setup_site_admin",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SetupServiceApi#setup_site_admin\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
