=begin
#ManagementResourceApi

#This describes the API clients use for accessing features. This reflects the API from 1.5.7 onwards.

The version of the OpenAPI document: 1.1.11

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.6.0

=end

require 'cgi'

module FeaturehubAdminSdk
  class UserStateServiceApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Gets information on which environments are hidden for this user
    # @param app_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [HiddenEnvironments]
    def get_hidden_environments(app_id, opts = {})
      data, _status_code, _headers = get_hidden_environments_with_http_info(app_id, opts)
      data
    end

    # Gets information on which environments are hidden for this user
    # @param app_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(HiddenEnvironments, Integer, Hash)>] HiddenEnvironments data, response status code and response headers
    def get_hidden_environments_with_http_info(app_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserStateServiceApi.get_hidden_environments ...'
      end
      # verify the required parameter 'app_id' is set
      if @api_client.config.client_side_validation && app_id.nil?
        fail ArgumentError, "Missing the required parameter 'app_id' when calling UserStateServiceApi.get_hidden_environments"
      end
      # resource path
      local_var_path = '/mr-api/user-data/state/{appId}/hidden-environments'.sub('{' + 'appId' + '}', CGI.escape(app_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'HiddenEnvironments'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"UserStateServiceApi.get_hidden_environments",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserStateServiceApi#get_hidden_environments\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Saves information on which environments should be hidden for this user
    # @param app_id [String] 
    # @param hidden_environments [HiddenEnvironments] 
    # @param [Hash] opts the optional parameters
    # @return [HiddenEnvironments]
    def save_hidden_environments(app_id, hidden_environments, opts = {})
      data, _status_code, _headers = save_hidden_environments_with_http_info(app_id, hidden_environments, opts)
      data
    end

    # Saves information on which environments should be hidden for this user
    # @param app_id [String] 
    # @param hidden_environments [HiddenEnvironments] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(HiddenEnvironments, Integer, Hash)>] HiddenEnvironments data, response status code and response headers
    def save_hidden_environments_with_http_info(app_id, hidden_environments, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserStateServiceApi.save_hidden_environments ...'
      end
      # verify the required parameter 'app_id' is set
      if @api_client.config.client_side_validation && app_id.nil?
        fail ArgumentError, "Missing the required parameter 'app_id' when calling UserStateServiceApi.save_hidden_environments"
      end
      # verify the required parameter 'hidden_environments' is set
      if @api_client.config.client_side_validation && hidden_environments.nil?
        fail ArgumentError, "Missing the required parameter 'hidden_environments' when calling UserStateServiceApi.save_hidden_environments"
      end
      # resource path
      local_var_path = '/mr-api/user-data/state/{appId}/hidden-environments'.sub('{' + 'appId' + '}', CGI.escape(app_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(hidden_environments)

      # return_type
      return_type = opts[:debug_return_type] || 'HiddenEnvironments'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"UserStateServiceApi.save_hidden_environments",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserStateServiceApi#save_hidden_environments\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
